body {
    background: #f8f9fa;
    font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}
.container-body {
    margin: 0 109px;
}
.chart {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;

}

#app[v-cloak] {
    display: none;
}

.info-card .card-body {
    padding: .75rem;
    height: 100%;
}
.info-card .card-title {
    font-size: 1rem;
    margin: 0;
}
.info-card .card-text {
    font-size: 2rem;
}

.card {
    margin: .5rem 0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
